@import './modules/buttons.css';
@import './modules/header.css';

html {
  --font-family: "PT Sans", sans-serif;
  --default-font-color: #f3f3f3;
  --link-color: rgb(37 99 235);
  --active-button-text-color: var(--default-font-color);
  --button-text-color: var(--default-font-color);
  --active-button-background-color: rgba(37 99 235 / 0.5);
  --button-background-color: rgba(84, 84, 84, 1);
  --active-button-hover-background-color: rgba(37 99 235 / 1);
  --button-hover-background-color: rgba(100, 100, 100, 1);
  --svg-color: var(--default-font-color);
  --background-color: #333;
  --color-primary: rgb(37 99 235);
  --light-grey: #585858;
  --tile-background-color: rgba(32, 32, 32, 1);
}

html.light-mode {
  --default-font-color: #333;
  --background-color: rgb(239, 246, 255);
}

body {
  font-family: var(--font-family);
  color: var(--default-font-color);
  background-color: var(--background-color);
}

svg {
  fill: var(--svg-color);
}

a {
  color: var(--link-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevents text wrapping */
  border: 0;
}
