:root {
    --font-family: "PT Sans", sans-serif;
    --default-font-color: #333;
}

body {
    font-family: var(--font-family);
    color: var(--default-font-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* Prevents text wrapping */
    border: 0;
}
