button {
  border: none;
  box-shadow: none;
  color: #333;
  cursor: pointer;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  &.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    svg {
      fill: #333;
    }
  }
}