button {
  border: none;
  box-shadow: none;
  color: var(--button-text-color);
  cursor: pointer;
  background-color: var(--button-background-color);

  &.active {
    color: var(--active-button-text-color);
    background-color: var(--active-button-background-color);
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  &.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    svg {
      fill: var(--button-text-color);
    }
  }

  &.active:hover {
    background-color: var(--active-button-hover-background-color);
  }

  &:hover {
    background-color: var(--button-hover-background-color);
  }
}
