#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-actions-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.light-dark-toggle-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.built-by-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}