@layer typography {
  h1 {
    @apply text-2xl md:text-4xl font-bold text-slate-900 dark:text-slate-100;
  }

  h2 {
    @apply text-xl md:text-3xl font-bold text-slate-900 dark:text-slate-100;
  }

  h3 {
    @apply text-lg md:text-3xl font-bold;
  }

  h4 {
    @apply text-base md:text-2xl font-bold;
  }

  h5 {
    @apply text-sm md:text-xl font-bold;
  }

  h6 {
    @apply text-xs md:text-lg;
  }
}